* {
    box-sizing: border-box;
    background-color: gainsboro;
}
.chart-card {
    min-width: 300px;
    max-width: 1280px;
    display: grid;
}
option {
    background-color: white;
}
.App {
    display: grid;
    justify-content: center;
}
.input {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
    margin-bottom: 20px;
    padding: 5px;
}

.comp-currency {
    display: flex;
    flex-wrap: wrap;
}

.comp-currency button {
    margin: 0 5px 0 0;
}
